body{
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  background-color: rgba(204, 204, 204, 0.05);
  text-align: center;
}
header{
  padding: 10px 70px;
  position: fixed;
  top: 0;
  background-color: #FFF;
  width: 100%;
  height: 70px;
  display: block;text-align: left;
  border-bottom: 1px solid black;
}
header .logo{
  border-right: 1px solid black;
  height: 100%;
  display: inline-block;
  width: 110px;
}
header .logo img{
  max-height: 80px;
  max-width: 100px;
}
header span{
  font-weight: bold;
}
#body{
  width: 1200px;
  height: 550px;
  margin-top: 91px;
  margin-left: 100px;
}
#body #payInfo{
  display: inline-block;
  width: 1040px;
  height: 100px;
  padding: 15px 80px 15px 80px;
  text-align: left;
}
#body #payInfo span{
  margin-left:40px;
  margin-top: 10px;
  display: block;
}
#body #payInfo a{
  margin-left: 10px;
  margin-right: 20px;
  color: black;
}
#body #payInfo span em{
  margin-right: 20px;
}
#body #scan{
  width: 100%;
  height: 600px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #FFF;
}
#body #scan .infoAlert{
  display:inline-block;
}
#body #scan .infoAlert #totalPrice{
  margin: 0;
  height: 80px;;
}
#body #scan .infoAlert #something{
    margin-top: 100px;
}

#body #scan .infoAlert span{
  display: block;
}
#body #scan .welcome{
  width: 150px;
  height: 600px;
  background-color: rgba(174, 174, 174, 0.33);
  float: right;
}
#body #scan .infoAlert .QRcontainer{
  border: 1px solid black;
}
#body #scan .welcome img{
  max-height: 150px;
  max-width: 130px;
  margin-top: 60px;
}
#body #scan .welcome span{
  font-size: large;
  color: rgba(255, 25, 0, 0.71);
  position: relative;
  top: 50px;
  width: 100px;
  font-weight: bold;
}
#footer{
  width: 100%;
  height: 150px;
}
